// Vars Colors
$inship-color-background: rgba(82, 218, 211, 0.7);
$inship-color-background-darker: rgba(46, 122, 117, 0.7);
$inship-color: rgba(70, 187, 181, 1);
$inship-color-background-light: rgba(70, 187, 181, 0.2);
$grey-light: #f3f3f3;
$APC-light: #ded4a2;
$APC-dark: #a67440;
$APC-grey: #585759;
$APC-bg: #14182f;
// $CAPS-light: #5fb6d6;
// $CAPS-dark: #576aa6;
// $CAPS-bg: #222222;
$CAPS-light: rgb(255, 162, 11);
$CAPS-dark: rgb(250, 133, 29);
$CAPS-bg: rgb(47, 47, 47);
$T2P-color: white;
$T2P-bg: #252941;

// Box Shadows
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

// setting init val
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  padding: 3rem;
  background: $inship-color-background-light;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

ol li {
  margin-left: 2em;
}

.isFeature {
  color: $inship-color;
}
.notFeature {
  color: #333;
}

li {
  text-decoration: none;
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes spin720 {
  0% {
    opacity: 0;
    transform: rotate(0);
  }

  100% {
    opacity: 1;
    transform: rotate(720deg);
  }
}

@keyframes mainTitleAnimation {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  49% {
    transform: translateY(6rem);
  }
  90% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@mixin btn($text-color, $background-color, $shadow) {
  margin-top: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: $text-color;
  background-color: $background-color;
  padding: 1rem 3rem;
  @if ($shadow = "light") {
    box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
  } @else {
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  display: inline-block;
}

@mixin hover-scale {
  transform: scale(1.05);
}

@mixin click-affect($shadow) {
  transform: translateY(0.2rem);
  @if ($shadow = "light") {
    box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2);
  } @else {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}

@mixin media-sm {
  @media screen and (min-width: 200px) {
    @content;
  }
}

// 666px or Smaller
@mixin media-sm-rev {
  @media screen and (max-width: 666px) {
    @content;
  }
}

@mixin media-landscape {
  @media screen and (orientation: landscape) and (max-height: 720px) {
    @content;
  }
}

// 1024px or Smaller
@mixin media-md {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

// 1024px or Larger
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-animation-lg {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

// 1600px or Larger
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin header-bg($img, $color1, $color2) {
  height: 95vh;
  background-image: linear-gradient(to right bottom, $color1, $color2),
    url($img);
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

@mixin header-gb-no-color($img, $posistion) {
  height: 95vh;
  background-image: url($img);
  background-size: cover;
  background-position: $posistion;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

@mixin page-heading {
  margin-top: 1.5rem;
  font-size: 5rem;
  text-align: center;
}

@mixin page-textbox {
  font-size: 2rem;
  padding: 2rem;
}

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin line-posistion-absolute($color, $left, $top, $width, $height) {
  background-color: $color;
  text-align: center;
  height: $height;
  width: $width;
  position: absolute;
  left: $left;
  @if ($top != null) {
    top: $top;
  }
}
@mixin line($color, $left, $top, $width, $height) {
  background-color: $color;
  text-align: center;
  height: $height;
  width: $width;
  left: $left;
  @if ($top != null) {
    top: $top;
  }
}

@mixin header-dimensions {
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

@mixin productHeader($image, $posistion, $right, $top) {
  @include header-dimensions;

  position: relative;

  .header-text-box {
    position: absolute;
    right: $right;
    top: $top;

    .product-page-img-container {
      width: 100%;

      &-logo {
        left: 35%;
        width: 30%;
        text-align: center;
        object-fit: cover;
        border: 0.1rem solid white;
      }
    }

    .heading {
      .main-header {
        display: block;
        font-size: 4rem;

        animation-name: moveInFromRight;
        animation-duration: 2s;
      }

      .sub-header {
        display: block;
        font-size: 1.5rem;

        animation-name: moveInFromLeft;
        animation-duration: 2s;
      }
    }
  }
}

@mixin hover-btn {
  transform: scale(1.05);
}

@mixin active-btn {
  transform: translateY(0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin text-box-card {
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  position: relative;
  height: auto;
  text-align: left;
}

@mixin text-box-card-description {
  padding: 5rem;
  background: #fff;
  position: relative;
  z-index: 1;
  color: black;
  font-weight: 200;
  text-align: left;

  h1 {
    text-align: center;
    line-height: 1;
    margin: 0;
    font-size: 3rem;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: black;
    margin: 1rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: 300;
    color: black;
    margin: 1rem;
  }
  p {
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
  }

  ul {
    margin-top: 2rem;
  }

  li {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    margin-left: 3%;
  }
}
@mixin photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
@mixin textWithImgCard {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

  width: 100%;
  a {
    color: inherit;
    &:hover {
      color: $inship-color;
    }
  }
  &:hover {
    .photo-1,
    .photo-2,
    .photo-3 {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: auto;
  }
  .photo-1 {
    @include photo;
    background-image: url(../img/inshipBuilding.jpg);
  }
  .photo-2 {
    @include photo;
    background-image: url(../img/Books.jpg);
  }
  .photo-3 {
    @include photo;
    background-image: url(../img/Main.jpg);
  }
  .photo-4 {
    @include photo;
    background-image: url(../img/auto-1.jpg);
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: white;
    padding: 1rem;
    width: 100%;
    font-size: 0.9rem;

    .img-writing {
      font-size: 3rem;
    }
  }
  .description {
    padding: 2rem;
    background: white;
    position: relative;
    z-index: 1;
    color: black;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 300;
      // text-transform: uppercase;
      // color: $color_grey_dark;
      color: black;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        color: $inship-color;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -1rem;
          opacity: 0;
          vertical-align: middle;
          transition: margin 0.3s, opacity 0.3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
    .hidden {
      visibility: hidden;
      display: none;
    }
    p {
      font-size: 1.5rem;
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    text-align: left;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        // content: "";
        position: absolute;
        height: 0.5rem;
        background: $inship-color;
        width: 3.5rem;
        top: -0.75rem;
        border-radius: 0.3rem;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    min-width: 100%;
    .meta {
      flex-basis: 40%;
      min-height: 15%;
    }
    .description {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}
