$color_1: #000;
$color_2: inherit;
$color_3: #555;
$color_4: #ff6360;
$color_5: #ff1814;
$color_6: #777;
$color_7: #ff312d;
$color_8: #fff;
$color_9: #e6e6e6;
$color_10: #31708f;
$color_11: #245269;
$color_12: #8a6d3b;
$color_13: #66512c;
$color_14: #c7254e;
$color_15: #333;
$color_16: #999;
$color_17: #959595;
$color_18: #5cb85c;
$color_19: #f8bb56;
$color_20: #f0ad4e;
$color_21: #d9534f;
$color_22: #262626;
$color_23: #ccc;
$color_24: #9d9d9d;
$color_25: #444;
$color_26: transparent;
$color_27: #34495e;
$font_family_1: sans-serif;
$font_family_2: monospace, monospace;
$font_family_3: Source Sans Pro, Helvetica, Arial, sans-serif;
$font_family_4: inherit;
$font_family_5: Cabin, Helvetica, Arial, sans-serif;
$font_family_6: Menlo, Monaco, Consolas, Courier New, monospace;
$font_family_7: serif;
$font_family_8: Lato, Times, serif;
$background_color_1: transparent;
$background_color_2: #fff;
$background_color_3: #fcf8e3;
$background_color_4: #ff6360;
$background_color_5: #ff312d;
$background_color_6: #57ce6e;
$background_color_7: #37bb50;
$background_color_8: #d9edf7;
$background_color_9: #afd9ee;
$background_color_10: #f7ecb5;
$background_color_11: #ee624b;
$background_color_12: #ea391c;
$background_color_13: #f9f2f4;
$background_color_14: #333;
$background_color_15: #f5f5f5;
$background_color_16: #f9f9f9;
$background_color_17: #e8e8e8;
$background_color_18: #43c85d;
$background_color_19: #c4e3f3;
$background_color_20: #faf2cc;
$background_color_21: #ec4e34;
$background_color_22: #eee;
$background_color_23: #e6e6e6;
$background_color_24: #d4d4d4;
$background_color_25: #ff0e09;
$background_color_26: #5cb85c;
$background_color_27: #449d44;
$background_color_28: #398439;
$background_color_29: #f8bb56;
$background_color_30: #f6a725;
$background_color_31: #ed980a;
$background_color_32: #f0ad4e;
$background_color_33: #ec971f;
$background_color_34: #d58512;
$background_color_35: #d9534f;
$background_color_36: #c9302c;
$background_color_37: #ac2925;
$background_color_38: #e5e5e5;
$background_color_39: #888;
$background_color_40: #777;
$background_color_41: #5e5e5e;
$border_color_1: #66afe9;
$border_color_2: #fff;
$border_color_3: #e6e6e6;
$border_color_4: #8a6d3b;
$border_color_5: #66512c;
$border_color_6: #333;
$border_color_7: #000;
$border_color_8: #141414;
$border_color_9: #ff6360;
$border_color_10: #e00400;
$border_color_11: #ff2723;
$border_color_12: #5cb85c;
$border_color_13: #2d672d;
$border_color_14: #419641;
$border_color_15: #f8bb56;
$border_color_16: #c67f08;
$border_color_17: #f6a31b;
$border_color_18: #f0ad4e;
$border_color_19: #b06d0f;
$border_color_20: #eb9316;
$border_color_21: #d9534f;
$border_color_22: #8b211e;
$border_color_23: #c12e2a;
$border_color_24: transparent;
$border_color_25: #eee #eee #ddd;
$border_color_26: #57ce6e;
$border_color_27: #bce8f1;
$border_color_28: #faebcc;
$border_color_29: #ee624b;
$border_top_color_1: #000;
$border_top_color_2: #43c85d;
$border_top_color_3: #a6e1ec;
$border_top_color_4: #f7e1b5;
$border_top_color_5: #ec4e34;
$border_bottom_color_1: transparent;
$border_bottom_color_2: #fff;